@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    background-color: #ebebeb;
}

h1, h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

input[type=text]{
    width: 100%;
    height: 30px;
    border: #404040 1px solid;
    margin-bottom: 30px;
}

.container{
    width: 80%;
    margin: auto;
}

.result{
    font-size: 2rem;
    border: #404040 3px dashed;
    padding: 15px;
    float: right;
    background-color: #ffffff;
}