@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body{
    padding: 0;
    margin: 0;
}

.first-head-page{
    padding-top: 20px;
}

.container{
    width: 80%;
    margin: auto;
}

.first-page{
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #252525;
    background-size: cover;
}

.page-heads{
    font-family: 'Special Elite', cursive;
    color: #ebebeb;
}

.page-subtitle{
    margin-top: -15px;
    padding: 0;
}

.page-title::after{
    color: #ebebeb;
     content: '|';
     margin-left: 5px;
     opacity: 1;
     display: inline-block;
     animation: blink-cursor .7s infinite;
}

@keyframes blink-cursor{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.img-fluid{
    max-width: 100%;
    height: auto;
}


@media(min-width: 1200px){

    .first-page{
        height: 100vh;
        width: 100vw;
    }

    .first-head-page{
        top: 10%;
        left: 20%;
        position: absolute;
    }

    .page-heads{
        padding-top: 35%;
    }

    .page-title{
        font-size: 3.5em;
        padding: 0;
    }

    .page-subtitle{
        font-size: 1.5em;
        margin-top: -35px;
    }

    .column-1{
        width: 40%;
        float: left;
    }

    .column-2{
        width: 60%;
        float: right;
    }

}