@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body{
    padding: 0;
    margin: 0;
}

.first-page{
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #252525;
    background-size: cover;
    position: absolute;
}

.page-head{
    font-family: 'Special Elite', cursive;
    color: #ebebeb;
    position: absolute;
    top: 40%;
    left: 45%
}

.page-subtitle{
    margin-top: -15px;
    padding: 0;
}

.page-title::after{
    color: #ebebeb;
     content: '|';
     margin-left: 5px;
     opacity: 1;
     display: inline-block;
     animation: blink-cursor .7s infinite;
}

@keyframes blink-cursor{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}