@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap');

body, p, h1, h2, h3, h4, h5, h6, img{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #404040;
    color: #404040;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Anton', sans-serif;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 24.99%;}
.col-4{width: 33.32%;}
.col-5{width: 41.65%;}
.col-6{width: 49.98%;}
.col-7{width: 58.31%;}
.col-8{width: 66.64%;}
.col-9{width: 74.97%;}
.col-10{width: 83.3%;}
.col-11{width: 91.63%;}
.col-12{width: 100%;}

.container{
    width: 85%;
    margin: auto
}

footer{
    color: #ebebeb;
    text-align: center;
    position: relative;
    padding-top: 40px;
}

a, .menu-icon{
    text-decoration: none;
}

.link-title{
    color: #ebebeb;
}

.header-group{
    height: 80px;
    width: 100%;
}

.logo-img{
    width: 25%;
    float: left;
}

.header-page-title{
    float: right;
    text-align: left;
    width: 74%;
}

.header-page-title h1{
    font-size: 2.5rem;
    width: 100%;
    padding-top: 5px;
}

.header-page-title p{
    font-size: 14.5px;
    margin-top: -10px;
    line-height: 17px;
}

.menu-icon{
    width: 100%;
    height: 60px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.ham-icon{
    height: 30px;
    width: 30px;
    margin: 15px;
    float: right;
}

.close{
    display: none;
    color: #ebebeb;
    font-size: 3rem;
    font-weight: bold;
    margin: 15px;
    text-align: right;
    position: relative;
    z-index: 0;
}

.menu{
    position: relative;
    z-index: 0;
    background-color: #404040;
    height: 100vw;
    display: none;
}

.txt-logo{
    font-size: 2rem;
}

.ham-icon:hover{
    cursor: pointer;
    display: block;
}

.main{
    width: 100%;
    background-color: #ffa574;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 15px #000000;
}

.short-bio{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.img-bio{
    border: #ebebeb 3px solid;
    box-shadow: 2px 4px 6px #404040;
    border-radius: 50%;
    height: 50%;
}

.txt-bio{
    font-size: 1em;
    line-height: 17px;
    margin-left: 18px;
    
}

.btn-menu{
    font: 1.25em 'Anton', sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 60px;
    color: #B56A7A;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #4040407c;
}

.img-fluid{
    max-width: 100%;
}
