body{
    color: #404040;
    background-color: #ebebeb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #ebebeb;
    background-color: #b56a7a;
    padding: 5px;
}

a:hover{
    text-decoration: underline;
}

footer{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

section{
    display: flex;
    justify-content: space-between;
}

article{
    border: #b56a7a 1px solid;
    padding: 15px;
}
